importdata/src/main/resources/datapack/data.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" >
    <xs:element name="DATAS">
        <xs:complexType>
        	<xs:sequence>
	            <xs:element name="OBJECTS" type="OBJECTS" minOccurs="1" maxOccurs="1" nillable="false"/>
                <xs:element name="LINKS" type="LINKS" minOccurs="1" maxOccurs="1"  nillable="false"/>
	        </xs:sequence>
         </xs:complexType>
    </xs:element>
    <xs:complexType name="OBJECTS">
        <xs:sequence>
            <xs:element name="OBJECT" type="OBJECT" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OBJECT">
        <xs:complexContent>
	        <xs:extension base="NODE">
	        	<xs:sequence>
	        		<xs:element name="ATTRIBUTE" type="ATTRIBUTE" minOccurs="0" maxOccurs="unbounded"/>
	        	</xs:sequence>
	        	<xs:attribute name="ID" type="xs:int" use="required"/>
        		<xs:attribute name="TYPE" type="xs:string" use="optional"/>
	        </xs:extension>
	    </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ATTRIBUTE" id="ATTRIBUTE">
        <xs:attribute name="KEY" type="xs:string" use="required"/>
        <xs:attribute name="VALUE" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="LINKS">
        <xs:sequence>
            <xs:element name="LINK" type="LINK" minOccurs="2" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="LINK">
        <xs:sequence>
            <xs:element name="ATTRIBUTE" type="ATTRIBUTE" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="OBJ_LINK_A" type="OBJ_LINK"/>
            <xs:element name="OBJ_LINK_B" type="OBJ_LINK"/>
        </xs:sequence>
        <xs:attribute name="TYPE" type="xs:string"/> 
    </xs:complexType>
    
    <xs:complexType name="OBJ_LINK">
    	<xs:complexContent>
	        <xs:extension base="NODE">
		    	<xs:attribute name="ID" type="xs:int" use="required"/>
		        <xs:attribute name="TYPE" type="xs:string" use="optional"/>
        	 </xs:extension>
	    </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NODE" abstract="true">
    </xs:complexType>

</xs:schema>